<div class="text-center">
	<h1>ngx-table-pagination live demo</h1>
	<h4>
		<small
      ><a href="https://github.com/SirishaKomma/ngx-table-pagination"
        >GitHub Repo</a
      ></small>
	</h4>
	<p>A bare-bones demo for your experimenting / bug-reproducing pleasure.</p>
</div>
<div class="list">
	<paging-controls [isItemsPerPage]="true"></paging-controls>
	<ul>
		<li *ngFor="let item of collection | paginate: { currentPage: p }">
			{{ item }}
		</li>
	</ul>

	<paging-controls (pageChange)="p = $event" [isItemsPerPage]="false"></paging-controls>
</div>